body {
  color: #9c20c9;
  background-color: aqua;
}

#title {
  text-align: center;
}

.search-form > input,
button {
  color: #9c20c9;
  background-color: aqua;
  padding: 5px;
  border: 2px solid #9c20c9;
  border-radius: 4px;
  margin-right: 10px;
  transition-duration: 0.4s;
}

.search-form > input:hover {
  cursor: pointer;
}

.search-form > button:hover {
  cursor: pointer;
  border-color: darkseagreen;
  background-color: #9c20c9;
  color: aquamarine;
}

.search-form > button:active {
  transform: translateY(2px);
}

#content-div {
  display: grid;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  column-gap: 20px;
  grid-template-columns: 60% 40%;
}

#world-map-div {
  margin-bottom: 20px;
}

#world-map-info {
  margin-left: 40px;
  max-width: 620px;
  background-color: aquamarine;
  padding: 10px;
  border: 3px dotted #9c20c9;
  border-radius: 8px;
}

.worldmap__figure-container > svg {
  border: 3px dotted #9c20c9;
  border-radius: 8px;
}

#country-list-div {
  margin-right: 60px;
  margin-bottom: 40px;
  padding: 10px;
  max-width: 300px;
  background-color: aquamarine;
  border: 3px dotted #9c20c9;
  border-radius: 8px;
}

.country-count {
  display: inline;
  font-weight: bold;
}
